@import 'tailwindcss';

:root {
    --background: #eaeae8;
    --foreground: #171717;

    --background-alt: #e4e4e2;
    --card-bg: #dededc;
    --background-accent: #1f6feb;
    --text-accent: #4493f8;
    --border: #d8d8d6;
    --ui: #d2d2d0;
    --ui-hover: #ccccca;
    --border-light: #c6c6c4;

    --selected: #ffc107;
    --axis-x: #4cd27a;
    --axis-y: #ff4c4c;

    --grid-color-1: rgba(0, 0, 0, 0.05);
    --grid-color-2: rgba(0, 0, 0, 0.08);
    --grid-color-3: rgba(0, 0, 0, 0.12);
    --edge-temp: #666;

    --contrast: #000;
    --gray: #999;
    --star: #fdc700;
}

[data-theme='dark'] {
    --background: #151517;
    --foreground: #ededed;

    --background-alt: #1b1b1d;
    --card-bg: #212123;
    --border: #272729;
    --ui: #2d2d2f;
    --ui-hover: #333335;
    --border-light: #39393b;

    --grid-color-1: rgba(255, 255, 255, 0.05);
    --grid-color-2: rgba(255, 255, 255, 0.08);
    --grid-color-3: rgba(255, 255, 255, 0.12);
    --edge-temp: #ccc;

    --contrast: #fff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-background-alt: var(--background-alt);
    --color-card: var(--card-bg);
    --color-border: var(--border);
    --color-border-light: var(--border-light);
    --color-ui: var(--ui);
    --color-ui-hover: var(--ui-hover);

    --color-selected: var(--selected);
    --color-axis-x: var(--axis-x);
    --color-axis-y: var(--axis-y);
    --color-grid-1: var(--grid-color-1);
    --color-grid-2: var(--grid-color-2);
    --color-grid-3: var(--grid-color-3);
    --color-edge-temp: var(--edge-temp);

    --color-contrast: var(--contrast);
    --color-gray: var(--gray);
    --color-bg-accent: var(--background-accent);
    --color-text-accent: var(--text-accent);
    --color-star: var(--star);
}

body {
    background: var(--background);
    color: var(--foreground);
    min-width: 425px;
}

html.resizing,
html.resizing * {
    cursor: ew-resize !important;
    user-select: none;
}
